Laba_6/obj/Debug Laba_6/obj/Laba_6.csproj.nuget.dgspec.json Laba_6/obj/Laba_6.csproj.nuget.g.props Laba_6/obj/Laba_6.csproj.nuget.g.targets Laba_6/obj/project.assets.json Laba_6/obj/project.nuget.cache
Laba_6/bin/Debug
Laba_6/obj/Debug Laba_6/obj/Laba_6.csproj.nuget.dgspec.json Laba_6/obj/Laba_6.csproj.nuget.g.props Laba_6/obj/Laba_6.csproj.nuget.g.targets Laba_6/obj/project.assets.json Laba_6/obj/project.nuget.cache
Laba_6/bin/Debug
